<?xml version="1.0"?>
<config>

	<modules>
		<Inkatia_Observer>
			<version>1.0.0</version>
		</Inkatia_Observer>
	</modules>
	<global>
	    <!-- Fire Observer Event  -->
	    <events>
	        <sales_order_payment_pay>
	            <observers>
	                <observer>
	                    <class>Inkatia_Observer_Model_Observer</class>
	                    <method>callObserver</method>
	                </observer>
	            </observers>
	        </sales_order_payment_pay>
	    </events>
	</global>
</config>